body {
	text-align: center;
}

.box {
	display:inline-grid; 
	height:80px;
	width:100px;
}

.red {
	background-color: red;
}
.gold {
	background-color: gold;
}

.green {
	background-color: green;
}

.black {
	background-color: black;
}

@media only screen and (max-width: 600px) {
	.box.gold, .box.green {
		display: none;
	}

}

@media only screen and (min-width: 1000px) {
	.box.red, .box.gold, .box.green, .box.black  {
		width: 100%
	}
}